@import url("https://unpkg.com/@deckdeckgo/deck-utils@latest/css/deck.css");

deckgo-deck {
  color: black;
  --color: black;
  --ion-text-color: black;
}

/* Until Web Components are loaded, don't display content */
body {
  background: #ffffff;
}

ion-app.loading,
ion-app.loading a {
  color: transparent;
}

ion-app.loading a {
  color: transparent;
}

ion-app.loading {
  display: none;
}
