@import url("../node_modules/@deckdeckgo/kit/css/kit.css");

@import "variables.css";

ion-header {
  background: var(--ion-color-light);
}

ion-header[class*="header"]::after {
  background-image: none;
}

ion-header ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

ion-app div.ion-page:not(.papyrus) ion-content>main {
  box-shadow: none;
}
