@import url("../node_modules/@deckdeckgo/kit/css/content.css");
@import url("../node_modules/@deckdeckgo/kit/css/header.css");
@import url("../node_modules/@deckdeckgo/kit/css/img.css");
@import url("../node_modules/@deckdeckgo/kit/css/popover.css");
@import url("../node_modules/@deckdeckgo/kit/css/print.css");

@import "variables.css";

ion-header {
  background: var(--ion-color-light);
}

ion-header[class*="header"]::after {
  background-image: none;
}

ion-header ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

/* Until Web Components are loaded, don't display content */

body {
  background: #ffffff;
}

ion-app.loading,
ion-app.loading a {
  color: transparent;
}

ion-app.loading a {
  color: transparent;
}

ion-app.loading {
  display: none;
}

ion-app.loading web-social-share {
  display: none;
}

/* Index page */

div.ion-page ion-content > main.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  max-width: 720px;
}

div.ion-page ion-content > main.overview img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
